---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import NewsSection from "@components/NewsSection.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const allNewsPosts = await Astro.glob(`../content/news/*.md`)
const newsPosts =
allNewsPosts
.sort(
    (a, b) =>
    Math.floor(new Date(b.frontmatter.date).getTime() / 1000) -
    Math.floor(new Date(a.frontmatter.date).getTime() / 1000)
)
.map(n => ({
    date: n.frontmatter.date,
    Content: n.Content
}));

const posts = await getCollection("blog");
const recentPosts = getSortedPosts(posts);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">

    <section id="hero">
      <h1 class="mr-2">Andrey Yao</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        I am a second year CS PhD student at the University of Wisconsin-Madison working with Prof. Ethan Cecchetti. I am passionate about the theory behind programming languages, especially when applied to distributed computation and security. My current project focuses on designing novel language semantics for choreographic programming, an emerging paradigm for programming parallel processes with language-level guarantees like deadlock-freedom. I am also very interested in denotational semantics of programming languages using concepts from category theory and topology.
      </p>
      <p>
        I earned my Bachelor’s degree in computer science and mathematics at Cornell University, where I did programming languages research with Prof. Alexandra Silva.
     </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section id="news">
      <h2>News</h2>
      <br>
      <ul>
        {
        newsPosts
        .map(({ date, Content }, index) =>
          index < 3 && <NewsSection date={date}> <Content /> </NewsSection>)
        }
      </ul>
      <div class="btn-wrapper">
        <LinkButton href="/news">
          News
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Blog</h2>
      <ul>
        {recentPosts.map(
           ({ data, slug }, index) =>
             index < SITE.postPerIndex && (
                <Card
                  href={`/blog/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
           )
        )}
      </ul>
      <div class="btn-wrapper">
        <LinkButton href="/blog/">
          Blog
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>

  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #news,
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #news h2,
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .btn-wrapper {
    @apply my-4 text-center;
  }
</style>
