---
import { SITE } from "@config";
import { getCollection } from 'astro:content';
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import TeachingCard from "@components/TeachingCard.astro";

const formatDate = (inputDate: Date) => {
    const date = new Date(inputDate);
    const month = date.toLocaleString('default', { month: 'short' });
    const year = date.getFullYear();
    return `${month} ${year}`;
};
---

<Layout title={`Teaching experience | ${SITE.title}`}>
  <Header />
      <main id="main-content">
	<TeachingCard
	    institution="Cornell University"
	    startDate="2019-08-08"
	    course="CS 2802 Discrete Structures - Honors"
	    position="Undergrad TA">
	  <ul class="list-disc list-inside">
	    <li> Hmmm </li>
	    <li> Hmmm </li>
	  </ul>
        </TeachingCard>
	<!--  -->
	<TeachingCard
	    institution="Cornell University"
	    startDate="2021-08-01"
	    course="CS 2112 OOP Design & Data Structures ha ha ha"
	    position="Undergrad TA">
	  <ul class="list-disc list-inside">
	    <li> Graded programming and written assignments </li>
	    <li> Held office hours </li>
	  </ul>
	</TeachingCard>
		<!--  -->
	<TeachingCard
	    institution="Cornell University"
	    startDate="2020-08-08"
	    course="CS 2802 Discrete Structures - Honors"
	    position="Undergrad TA">
	  <ul class="list-disc list-inside">
	    <li> Graded written assignments </li>
	    <li> Helped design exam questions </li>
	    <li> Held office hours </li>
	  </ul>
	</TeachingCard>
      </main>
      <Footer />
</Layout>

<style>
 #main-content {
   @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
   flex-direction: column;
 }
</style>