---
import Datetime from "@components/Datetime";

const { date } = Astro.props;
---

<div class="news-section">
  <div class="prose text-lg font-normal max-w-3xl">
    <slot />
  </div>
  <div class="row">
    <Datetime datetime={date}> </Datetime>
  </div>
</div>

<style>
 /* Applying CSS for layout */
 .news-section {
   display: flex;
   flex-direction: column;
   padding: 0px 0px 20px 0px;
 }
 .row {
   width: 100%;
   display: block;
 }
 .a {
 }
</style>