---
const { startDate, institution, course, position, description } = Astro.props
---
<div id="TeachingCard">
  <h1>{startDate}, {institution}</h1>
  <h1>{course}</h1>
  <slot />  <!-- children will go here -->
</div>

<style>
TeachingCard {
  @apply flex w-full flex-col items-center
}
</style>